.transport-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  text-align: center;
  width: 320px;
  height: 350px;
  font-family: cursive;
}
img {
  max-width: 100%;
  border-radius: 5px;
  height: 200px;
  object-fit: cover;
}
